<?xml version="1.0" encoding="UTF-8"?>
<?init class="org.zkoss.zkplus.databind.AnnotateDataBinderInit" ?>
<?variable-resolver class="org.zkoss.zkplus.spring.DelegatingVariableResolver"?>
<?init class="seguranca.AutenticacaoBuffet"?>
<?page title="FestaOnline - Sua festa online"?>

<zk xmlns="http://www.zkoss.org/2005/zul"
    xmlns:h="http://www.w3.org/1999/xhtml"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.zkoss.org/2005/zul http://www.zkoss.org/2005/zul/zul.xsd">

    <style src="/css/main.css"/>
    <style>
        .img-home{ height: 180px; }

        .btn {
            width: 100%;
            border-color: transparent;
        }

        .btn:HOVER{
            background-color: #ffffff;
            border-color: transparent;
            opacity: 0.4;
        }

        .label-home{
            font-size: 2em;
        }
    </style>

    <window apply="buffet.HomeComposer" sclass="container">
        <include src="../template/menubuffet.zul"/>

        <div>
            <div sclass="row">
                <div sclass="col-sm-4">
                    <div>
                        <h:a class="botao-home btn btn-default" href="../festa/listar.zul">
                            <div>
                                <h:img class="img-home" src="../images/bolo.PNG"/>
                            </div>
                            <div>
                                <label sclass="label-home" value="Gerenciar Festas"/>
                            </div>
                        </h:a>
                    </div>
                </div>

                <div sclass="col-sm-4">
                    <div>
                        <h:a class="botao-home btn btn-default">
                            <div>
                                <h:img class="img-home" src="../images/clientes.png"/>
                            </div>
                            <div>
                                <label sclass="label-home" value="Gerenciar Clientes"/>
                            </div>
                        </h:a>
                    </div>
                </div>

                <div sclass="col-sm-4">
                    <div>
                        <h:a class="botao-home btn btn-default">
                            <div>
                                <h:img class="img-home" src="../images/menu.jpg"/>
                            </div>
                            <div>
                                <label sclass="label-home" value="Gerenciar Cardápios"/>
                            </div>
                        </h:a>
                    </div>
                </div>
            </div>

            <div sclass="row" style="margin-top: 30px;">
                <div sclass="col-sm-4">
                    <div>
                        <h:a class="botao-home btn btn-default">
                            <div>
                                <h:img class="img-home" src="../images/layout.png"/>
                            </div>
                            <div>
                                <label sclass="label-home" value="Gerenciar Layout"/>
                            </div>
                        </h:a>
                    </div>
                </div>
            </div>
        </div>
    </window>

</zk>