.z-window{
    background-color: transparent !important;
}

.z-window-content{
    padding: 0px;
    background-color: transparent !important;
}

.cabecalho{
    box-shadow: 0px 2px 5px black;
    margin-bottom: 0px;
}

.cabecalho a{
    color: #f5f5f5;
}

.cabecalho ul{
    margin-top: 20px;
    margin-bottom: 20px;
}

.cabecalho a:HOVER{
    background-color: slategrey !important;
    opacity:0.6;
    filter:alpha(opacity=60);
}

.navbar-header span{
    color: #ffffff;
}

.principal{
    text-shadow: 2px 2px 6px #7C7C7C;
    font-weight: bold;
    font-size: 2.2em;
}

.principal:HOVER{
    text-decoration: none;
    background-color: transparent !important;
}

.labelPrincipal{
    text-shadow: 2px 2px 6px #7C7C7C;
    font-size: 1.8em;
    color: #ffffff;
}

.link{
    margin-top: 2px;
    font-size: 1.3em;
}

.registrese{
    box-shadow: 0px 2px 5px #888888;
}

.divEmail{
    padding-top: 150px;
    padding-left: 10%;
}

.email{
    padding: 10px;
    margin-right: 10px;
    font-size: 1.4em
}

.lblMensagemEmail{
    padding-left: 10%;
    font-size: 1.4em;
    color: #ffffff;
    text-shadow: 1px 1px black;
}

.rodape{
    text-align: center;
    color: #ffffff;
}

.rodape span{
    font-size: 1.3em;
}